/* Fonts */
@font-face{
    font-family: 'Google';
    src: url(../fonts/GoogleSans-Bold.ttf) format('truetype'),
         url(../fonts/GoogleSans-Medium.ttf) format('truetype'),
         url(../fonts/GoogleSans-Regular.ttf) format('truetype');  
}

:root{
    --gradient: linear-gradient(to right, #fc535a, #f9726e);
    --MainColor: #fc535a;
    --black: #121212;
    --gray: #cdcdcd;
    --white: #FFFFFF;
}

body{
    font-family: 'Google', sans-serif;
}
img{max-width: 100%;height: auto;}
/* Container */
.Container{
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: "Header Header" 
                        "Sidebar Main";
    grid-template-rows: 80px 1fr;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
} 


/* Header */
.Header{
    grid-area: Header;
    background: #FFFFFF;
    z-index: 99;
    display: grid;
    /* padding: 1rem 2rem; */
    grid-template-columns:  25% 1fr 20%;
    justify-items: space-evenly;
    align-items: center;
    grid-template-areas: "Logo Form Perfil";
    border-bottom: 1px solid var(--gray);
    box-shadow: 0px -10px 20px rgba(0,0,0,.4);
}

.Logo{
    grid-area: Logo;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Logo__img{
    width: 50px;
    display: inline-block;
}
.Logo__text{
    font-size: 2rem;
    margin-left: .5rem;
    display: inline-block;
    color: #FFFFFF;
    -webkit-text-stroke: 1px var(--MainColor);
}

.Form{
    grid-area: Form;
}

.Form__input{
    width: 85%;
    padding: .7rem .5rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    color: var(--black);
}


.Form__input:focus{
    border: 1px solid var(--MainColor);
}

.Perfil{
    grid-area: Perfil;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Perfil__img{
    border-radius: 50px;
    margin-left: 20px;
}


/* Sidebar */
.Sidebar{
    grid-area: Sidebar;
    background: var(--gradient);
}

.Nav{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    padding: 3rem 0;
    z-index: 2;
}
.Nav__list{
    display: grid;
    list-style: none;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: .5rem 1.5rem;
}
.Nav__item{
    text-align: center;
    padding-bottom: 1rem;
}
.Nav__link{
    text-decoration: none;
    color: var(--white);
}
.Nav__link .fa{
    font-size: 2rem;
    color: var(--white);
}
.Nav__text{
    display: block;
    font-size: .9rem;
}




/* Main */
.Main{
    grid-area: Main;
    overflow: auto;
    padding: 0 1rem;
}

.Films{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3,1fr);    
}
.Films__category__title{
    color: #121212;
}
.Films__item{
    position: relative;
    color: var(--white);
    overflow: hidden;
    transition: .3s;
}

.Films__item__img{
    width: 100%;
    height: auto;
}
.Films__item__overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: rgba(253,103,102,.72);
    padding: .5rem;
    transition: .3s;
    cursor: pointer;
}
.Films__item__overlay:hover{
    height: 92.5%;
}
.Films__item__title{
    font-weight: bold;
    margin: 0 0 0 .5rem;
}

/* Media Queries */
@media screen and (max-width: 1100px){
    .Nav__list{padding: .5rem 1rem;}
    .Nav__link .fa{font-size: 1.6rem;}
    .Films__item__title{font-size: 1.1rem;}
    .Films__item__description{font-size: .8rem;}
}

@media screen and (max-width: 968px){
    .Header{padding: 0 2rem 0 0;}
    .Nav__list{padding: .5rem .6rem;}
    .Nav__text{font-size: .8rem;}
    .Nav__link .fa{font-size: 1.3rem;}
    .Films{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 768px){
    .Header{
        padding: 0 2rem 0 0;
    }
    .Logo{
        justify-content: flex-end;
    }
    .Logo img{display: none;}
    .Logo__text{font-size: 1.5rem;}
    .Nav__list{padding: .5rem .2rem;}
    .Form__input{font-size: .9rem;}
}

@media screen and (max-width: 624px){
    .Container{
        grid-template-rows: 200px 1fr;
    }
    .Header{
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-areas: "Logo" "Perfil" "Form";
        /* justify-items: center; */
    }
    .Logo{
        justify-content: center;
    }
    .Form{
        text-align: center;
    }
    .Logo img{
        display: block;
        width: 30px;
        height: 30px;
    }
    .Films{
        grid-template-columns: 1fr;
    }
    .Films__item__title{font-size: 1.5rem;}
    .Films__item__description{font-size: 1rem;}
    .Films__item__overlay{height: 30%;}
    .Films__item__overlay:hover{height: 95%;}
    
}

@media screen and (max-width: 466px){
    .Nav__text{
        display: none;
    }
    .Nav__list{
        padding: .5rem .6rem;
    }
}
@media screen and (max-width: 366px){
    .Container{
        grid-template-rows: 200px 1fr;
        grid-template-areas: "Header Header" 
                        "Main Main";
    }
    .Nav{
        display: none;
    }
}